version: '3.8'

services:
  socket-server:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "5555:5555"
    volumes:
      - ../:/app
    environment:
      - PYTHONUNBUFFERED=1
